PROJECTO.PC/Web References/localhost/Main.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="MOTD">
        <s:complexType />
      </s:element>
      <s:element name="MOTDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MOTDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadProjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadProjectsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadProjectMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadProjectMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadProjectMembersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadMemberInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadMemberInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadMemberInfoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secondUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chsnProj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadMessagesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="messageText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiverID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sentTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chsnproj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTodos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chosenProject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadTodosResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTodos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddTodosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditTodos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oldTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditTodosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveTodos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="projectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveTodosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Maintenance">
        <s:complexType />
      </s:element>
      <s:element name="MaintenanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MaintenanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MOTDSoapIn">
    <wsdl:part name="parameters" element="tns:MOTD" />
  </wsdl:message>
  <wsdl:message name="MOTDSoapOut">
    <wsdl:part name="parameters" element="tns:MOTDResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="LoadProjectsSoapIn">
    <wsdl:part name="parameters" element="tns:LoadProjects" />
  </wsdl:message>
  <wsdl:message name="LoadProjectsSoapOut">
    <wsdl:part name="parameters" element="tns:LoadProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="LoadProjectMembersSoapIn">
    <wsdl:part name="parameters" element="tns:LoadProjectMembers" />
  </wsdl:message>
  <wsdl:message name="LoadProjectMembersSoapOut">
    <wsdl:part name="parameters" element="tns:LoadProjectMembersResponse" />
  </wsdl:message>
  <wsdl:message name="LoadMemberInfoSoapIn">
    <wsdl:part name="parameters" element="tns:LoadMemberInfo" />
  </wsdl:message>
  <wsdl:message name="LoadMemberInfoSoapOut">
    <wsdl:part name="parameters" element="tns:LoadMemberInfoResponse" />
  </wsdl:message>
  <wsdl:message name="LoadMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:LoadMessages" />
  </wsdl:message>
  <wsdl:message name="LoadMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:LoadMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="LoadTodosSoapIn">
    <wsdl:part name="parameters" element="tns:LoadTodos" />
  </wsdl:message>
  <wsdl:message name="LoadTodosSoapOut">
    <wsdl:part name="parameters" element="tns:LoadTodosResponse" />
  </wsdl:message>
  <wsdl:message name="AddTodosSoapIn">
    <wsdl:part name="parameters" element="tns:AddTodos" />
  </wsdl:message>
  <wsdl:message name="AddTodosSoapOut">
    <wsdl:part name="parameters" element="tns:AddTodosResponse" />
  </wsdl:message>
  <wsdl:message name="EditTodosSoapIn">
    <wsdl:part name="parameters" element="tns:EditTodos" />
  </wsdl:message>
  <wsdl:message name="EditTodosSoapOut">
    <wsdl:part name="parameters" element="tns:EditTodosResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveTodosSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveTodos" />
  </wsdl:message>
  <wsdl:message name="RemoveTodosSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveTodosResponse" />
  </wsdl:message>
  <wsdl:message name="MaintenanceSoapIn">
    <wsdl:part name="parameters" element="tns:Maintenance" />
  </wsdl:message>
  <wsdl:message name="MaintenanceSoapOut">
    <wsdl:part name="parameters" element="tns:MaintenanceResponse" />
  </wsdl:message>
  <wsdl:portType name="MainSoap">
    <wsdl:operation name="MOTD">
      <wsdl:input message="tns:MOTDSoapIn" />
      <wsdl:output message="tns:MOTDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadProjects">
      <wsdl:input message="tns:LoadProjectsSoapIn" />
      <wsdl:output message="tns:LoadProjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadProjectMembers">
      <wsdl:input message="tns:LoadProjectMembersSoapIn" />
      <wsdl:output message="tns:LoadProjectMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadMemberInfo">
      <wsdl:input message="tns:LoadMemberInfoSoapIn" />
      <wsdl:output message="tns:LoadMemberInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadMessages">
      <wsdl:input message="tns:LoadMessagesSoapIn" />
      <wsdl:output message="tns:LoadMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadTodos">
      <wsdl:input message="tns:LoadTodosSoapIn" />
      <wsdl:output message="tns:LoadTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTodos">
      <wsdl:input message="tns:AddTodosSoapIn" />
      <wsdl:output message="tns:AddTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditTodos">
      <wsdl:input message="tns:EditTodosSoapIn" />
      <wsdl:output message="tns:EditTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTodos">
      <wsdl:input message="tns:RemoveTodosSoapIn" />
      <wsdl:output message="tns:RemoveTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Maintenance">
      <wsdl:input message="tns:MaintenanceSoapIn" />
      <wsdl:output message="tns:MaintenanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainSoap" type="tns:MainSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MOTD">
      <soap:operation soapAction="http://localhost/MOTD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://localhost/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://localhost/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadProjects">
      <soap:operation soapAction="http://localhost/LoadProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadProjectMembers">
      <soap:operation soapAction="http://localhost/LoadProjectMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMemberInfo">
      <soap:operation soapAction="http://localhost/LoadMemberInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMessages">
      <soap:operation soapAction="http://localhost/LoadMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://localhost/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTodos">
      <soap:operation soapAction="http://localhost/LoadTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTodos">
      <soap:operation soapAction="http://localhost/AddTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTodos">
      <soap:operation soapAction="http://localhost/EditTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTodos">
      <soap:operation soapAction="http://localhost/RemoveTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Maintenance">
      <soap:operation soapAction="http://localhost/Maintenance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainSoap12" type="tns:MainSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MOTD">
      <soap12:operation soapAction="http://localhost/MOTD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://localhost/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://localhost/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadProjects">
      <soap12:operation soapAction="http://localhost/LoadProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadProjectMembers">
      <soap12:operation soapAction="http://localhost/LoadProjectMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMemberInfo">
      <soap12:operation soapAction="http://localhost/LoadMemberInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMessages">
      <soap12:operation soapAction="http://localhost/LoadMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://localhost/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTodos">
      <soap12:operation soapAction="http://localhost/LoadTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTodos">
      <soap12:operation soapAction="http://localhost/AddTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTodos">
      <soap12:operation soapAction="http://localhost/EditTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTodos">
      <soap12:operation soapAction="http://localhost/RemoveTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Maintenance">
      <soap12:operation soapAction="http://localhost/Maintenance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Main">
    <wsdl:port name="MainSoap" binding="tns:MainSoap">
      <soap:address location="http://localhost:2040/BackEnd/WebServices/Main.asmx" />
    </wsdl:port>
    <wsdl:port name="MainSoap12" binding="tns:MainSoap12">
      <soap12:address location="http://localhost:2040/BackEnd/WebServices/Main.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>