PROJECTO.PC/Web References/MainWS/Main.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="MOTD">
        <s:complexType />
      </s:element>
      <s:element name="MOTDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MOTDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadMyProjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadMyProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadMyProjectsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoadParticipatingProjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadParticipatingProjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadParticipatingProjectsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadProjectMembers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadProjectMembersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadProjectMembersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProjectMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chsnProj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProjectMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddProjectMemberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveProjectMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chsnProj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveProjectMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveProjectMemberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deadline" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ownerID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddProjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chsnProj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteProjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadMemberInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memberID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="memberEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadMemberInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadMemberInfoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadMessages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="secondUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chsnProj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadMessagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadMessagesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="messageText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senderID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiverID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sentTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chsnproj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadFinances">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chsnProj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadFinancesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadFinancesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFinance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chsnProj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFinanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFinanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Maintenance">
        <s:complexType />
      </s:element>
      <s:element name="MaintenanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MaintenanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MOTDSoapIn">
    <wsdl:part name="parameters" element="tns:MOTD" />
  </wsdl:message>
  <wsdl:message name="MOTDSoapOut">
    <wsdl:part name="parameters" element="tns:MOTDResponse" />
  </wsdl:message>
  <wsdl:message name="LoadMyProjectsSoapIn">
    <wsdl:part name="parameters" element="tns:LoadMyProjects" />
  </wsdl:message>
  <wsdl:message name="LoadMyProjectsSoapOut">
    <wsdl:part name="parameters" element="tns:LoadMyProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="LoadParticipatingProjectsSoapIn">
    <wsdl:part name="parameters" element="tns:LoadParticipatingProjects" />
  </wsdl:message>
  <wsdl:message name="LoadParticipatingProjectsSoapOut">
    <wsdl:part name="parameters" element="tns:LoadParticipatingProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="LoadProjectMembersSoapIn">
    <wsdl:part name="parameters" element="tns:LoadProjectMembers" />
  </wsdl:message>
  <wsdl:message name="LoadProjectMembersSoapOut">
    <wsdl:part name="parameters" element="tns:LoadProjectMembersResponse" />
  </wsdl:message>
  <wsdl:message name="AddProjectMemberSoapIn">
    <wsdl:part name="parameters" element="tns:AddProjectMember" />
  </wsdl:message>
  <wsdl:message name="AddProjectMemberSoapOut">
    <wsdl:part name="parameters" element="tns:AddProjectMemberResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveProjectMemberSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveProjectMember" />
  </wsdl:message>
  <wsdl:message name="RemoveProjectMemberSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveProjectMemberResponse" />
  </wsdl:message>
  <wsdl:message name="AddProjectSoapIn">
    <wsdl:part name="parameters" element="tns:AddProject" />
  </wsdl:message>
  <wsdl:message name="AddProjectSoapOut">
    <wsdl:part name="parameters" element="tns:AddProjectResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="DeleteProjectSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="LoadMemberInfoSoapIn">
    <wsdl:part name="parameters" element="tns:LoadMemberInfo" />
  </wsdl:message>
  <wsdl:message name="LoadMemberInfoSoapOut">
    <wsdl:part name="parameters" element="tns:LoadMemberInfoResponse" />
  </wsdl:message>
  <wsdl:message name="LoadMessagesSoapIn">
    <wsdl:part name="parameters" element="tns:LoadMessages" />
  </wsdl:message>
  <wsdl:message name="LoadMessagesSoapOut">
    <wsdl:part name="parameters" element="tns:LoadMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="LoadFinancesSoapIn">
    <wsdl:part name="parameters" element="tns:LoadFinances" />
  </wsdl:message>
  <wsdl:message name="LoadFinancesSoapOut">
    <wsdl:part name="parameters" element="tns:LoadFinancesResponse" />
  </wsdl:message>
  <wsdl:message name="AddFinanceSoapIn">
    <wsdl:part name="parameters" element="tns:AddFinance" />
  </wsdl:message>
  <wsdl:message name="AddFinanceSoapOut">
    <wsdl:part name="parameters" element="tns:AddFinanceResponse" />
  </wsdl:message>
  <wsdl:message name="MaintenanceSoapIn">
    <wsdl:part name="parameters" element="tns:Maintenance" />
  </wsdl:message>
  <wsdl:message name="MaintenanceSoapOut">
    <wsdl:part name="parameters" element="tns:MaintenanceResponse" />
  </wsdl:message>
  <wsdl:portType name="MainSoap">
    <wsdl:operation name="MOTD">
      <wsdl:input message="tns:MOTDSoapIn" />
      <wsdl:output message="tns:MOTDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadMyProjects">
      <wsdl:input message="tns:LoadMyProjectsSoapIn" />
      <wsdl:output message="tns:LoadMyProjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadParticipatingProjects">
      <wsdl:input message="tns:LoadParticipatingProjectsSoapIn" />
      <wsdl:output message="tns:LoadParticipatingProjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadProjectMembers">
      <wsdl:input message="tns:LoadProjectMembersSoapIn" />
      <wsdl:output message="tns:LoadProjectMembersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProjectMember">
      <wsdl:input message="tns:AddProjectMemberSoapIn" />
      <wsdl:output message="tns:AddProjectMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveProjectMember">
      <wsdl:input message="tns:RemoveProjectMemberSoapIn" />
      <wsdl:output message="tns:RemoveProjectMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProject">
      <wsdl:input message="tns:AddProjectSoapIn" />
      <wsdl:output message="tns:AddProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:input message="tns:DeleteProjectSoapIn" />
      <wsdl:output message="tns:DeleteProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadMemberInfo">
      <wsdl:input message="tns:LoadMemberInfoSoapIn" />
      <wsdl:output message="tns:LoadMemberInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadMessages">
      <wsdl:input message="tns:LoadMessagesSoapIn" />
      <wsdl:output message="tns:LoadMessagesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadFinances">
      <wsdl:input message="tns:LoadFinancesSoapIn" />
      <wsdl:output message="tns:LoadFinancesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFinance">
      <wsdl:input message="tns:AddFinanceSoapIn" />
      <wsdl:output message="tns:AddFinanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Maintenance">
      <wsdl:input message="tns:MaintenanceSoapIn" />
      <wsdl:output message="tns:MaintenanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MainSoap" type="tns:MainSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MOTD">
      <soap:operation soapAction="http://localhost/MOTD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMyProjects">
      <soap:operation soapAction="http://localhost/LoadMyProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadParticipatingProjects">
      <soap:operation soapAction="http://localhost/LoadParticipatingProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadProjectMembers">
      <soap:operation soapAction="http://localhost/LoadProjectMembers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjectMember">
      <soap:operation soapAction="http://localhost/AddProjectMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProjectMember">
      <soap:operation soapAction="http://localhost/RemoveProjectMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProject">
      <soap:operation soapAction="http://localhost/AddProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap:operation soapAction="http://localhost/DeleteProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMemberInfo">
      <soap:operation soapAction="http://localhost/LoadMemberInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMessages">
      <soap:operation soapAction="http://localhost/LoadMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://localhost/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFinances">
      <soap:operation soapAction="http://localhost/LoadFinances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFinance">
      <soap:operation soapAction="http://localhost/AddFinance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Maintenance">
      <soap:operation soapAction="http://localhost/Maintenance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MainSoap12" type="tns:MainSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MOTD">
      <soap12:operation soapAction="http://localhost/MOTD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMyProjects">
      <soap12:operation soapAction="http://localhost/LoadMyProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadParticipatingProjects">
      <soap12:operation soapAction="http://localhost/LoadParticipatingProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadProjectMembers">
      <soap12:operation soapAction="http://localhost/LoadProjectMembers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjectMember">
      <soap12:operation soapAction="http://localhost/AddProjectMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProjectMember">
      <soap12:operation soapAction="http://localhost/RemoveProjectMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProject">
      <soap12:operation soapAction="http://localhost/AddProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap12:operation soapAction="http://localhost/DeleteProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMemberInfo">
      <soap12:operation soapAction="http://localhost/LoadMemberInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadMessages">
      <soap12:operation soapAction="http://localhost/LoadMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://localhost/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadFinances">
      <soap12:operation soapAction="http://localhost/LoadFinances" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFinance">
      <soap12:operation soapAction="http://localhost/AddFinance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Maintenance">
      <soap12:operation soapAction="http://localhost/Maintenance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Main">
    <wsdl:port name="MainSoap" binding="tns:MainSoap">
      <soap:address location="http://localhost:2040/BackEnd/WebServices/Main.asmx" />
    </wsdl:port>
    <wsdl:port name="MainSoap12" binding="tns:MainSoap12">
      <soap12:address location="http://localhost:2040/BackEnd/WebServices/Main.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>